<html>
 <head>
 <title> TP1 TIPS -  Practicas desarrollo software</title>
<link href="/stylesheets/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
 <script src="/javascripts/angular13.js"></script>
 <script src="/javascripts/app_core.js"></script>
 <script src="/javascripts/ui-router.js"></script>
 <script src="/javascripts/moment.js"></script>
 <script src="/javascripts/angular-moment.js"></script>
 </head>


 <body ng-app="tips">

 <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>

  <div class="row">

   <div class="col-md-6 col-md-offset-3">

    <ui-view></ui-view>

   </div>

  </div>

 </body>
</html>
