<html>
 <head>
 <title> TP1 TIPS -  Practicas desarrollo software</title>
<link href="/stylesheets/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
 <script src="/javascripts/angular13.js"></script>
 <script src="/javascripts/app_core.js"></script>
 <script src="/javascripts/ui-router.js"></script>
 <script src="/javascripts/moment.js"></script>
 <script src="/javascripts/angular-moment.js"></script>
 </head>


 <body ng-app="tips">

 <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a> <strong>{{ currentUser() }}</strong></a></li>
      <li ng-hide="isLoggedIn()">
     <a href="/#/register"><button class="btn btn-info" >Register</button></a>
    </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
    <li ng-show="isLoggedIn()">
      <button class="btn btn-warning" style="margin-top:7px; margin-right:10px;" ng-click="logOut()">Log Out</button>
    </li>
    <li ng-hide="isLoggedIn()">
     <a href="/#/login"><button class="btn btn-info" >Log In</button></a>
    </li>
    </ul>
  </nav>


  <div class="row">

    
   <div class="col-md-3 col-xs-6 jumbotron" style="margin-top:20px;margin-left:20px;" ng-controller="ActivityCtrl">
    <h4 class="text-info text-center">
        Activity log
      </h4>
   <div class="well" ng-repeat="activity in activities ">
	<span am-time-ago="activity.date"></span>
        <span >{{activity.description}} </span>


	
      </div>
   </div>
   <div class="col-md-6 col-lg-6 col-xs-12">	
	
    <ui-view></ui-view>
   
   

   </div>
   
  </div>
    

 </body>
</html>
