<div class="page-header text-center">
        <h1>TP1 - TIPS</h1>
      </div>
		

<div ng-show="isLoggedIn()">

<select class="form-control" ng-model="data.ideasSort"  ng-change="req()" style="margin-bottom:10px;"
ng-options="type as type.name for type in types">
            <option value="">Select a group</option>
  </select>

<select class="form-control" ng-model="sortValue" style="margin-bottom:10px;">
            <option value="">Select a filter</option>
		<option value="upvotes">Upvotes</option>
		<option value="date">Date</option>
		<option value="comments.length">Comments</option>
  </select>

</div>

  <h2 ng-show="ideasSort=='available'">Available Ideas</h2>
  <h2 ng-show="ideasSort=='pending'">Ideas pending approval</h2>
  <h2 ng-show="ideasSort=='accepted'">Accepted ideas</h2>
  <h2 ng-show="ideasSort=='rejected'">Ideas rejected</h2>
   <div ng-show="isLoggedIn()" class="well" ng-repeat="post in posts | orderBy: sortValue">
        <span class="glyphicon glyphicon-thumbs-up"
		style="color:green;cursor:pointer;font-size:18px; margin-left:15px;"
          ng-click="addVote(post)"></span>
        {{post.upvotes}}
	<span>
	<span class="glyphicon glyphicon-thumbs-down"
		style="color:red;cursor:pointer;font-size:18px; margin-left:15px;"
          ng-click="downVote(post)"></span>
        {{post.downvotes}}
	<span>
        <span style="font-size:20px; margin-left:10px;">
          <a title="Go to {{post.link}}" ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </span>
	<span am-time-ago="post.date"></span>
        <span ng-show="post.author">posted by - {{post.author}}</span>

  <a  style="margin-left:10px;"href="#/posts/{{post._id}}"> Details </a>
</span>


	<div class="dropdown text-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Choose an action
    	<span class="caret"></span>
  	</button>
 

  	<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu">
   	 <li><a class="text-success" href="" ng-click="enroll(post)" style="font-weight:bold;color:green;">Enroll here</a></li>
	<li><a class="text-success" href="" ng-click="reject(post)" style="font-weight:bold;color:orange;">Reject idea</a></li>
   	 <li role="separator" class="divider"></li>
   	 <li><a class="text-danger "href="#" ng-click="remove(post)" style="font-weight:bold;color:red;">Delete idea</a></li>
  	</ul>
	</div>
	
      </div>
	<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can propose a new idea.</h3>
</div>

	<div ng-show="isLoggedIn()">
	<form ng-submit="addPost()"
                
		style="margin-top:30px;">
		<h3>Propose new idea</h3>

		<div class="form-group">
		  <input type="text"
		    class="form-control"
		    placeholder="Title"
		    ng-model="title"></input>
		</div>
		<div class="form-group">
		  <input type="text"
		  class="form-control"
		  placeholder="Link"
		  ng-model="link"></input>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	      </form>
         </div>

<div class="dropup">

