<div class="page-header text-center">
        <h1>TP1 - TIPS</h1>
      </div>
		

<div ng-show="isLoggedIn()">

<select class="form-control" ng-model="data.ideasSort"  ng-change="req()" style="margin-bottom:10px;"
ng-options="type as type.name for type in types">
            <option value="">Select a group</option>
  </select>


</div>

  <h2 ng-show="ideasSort=='available'">Available Ideas</h2>
  <h2 ng-show="ideasSort=='pending'">Ideas pending approval</h2>
  <h2 ng-show="ideasSort=='accepted'">Accepted ideas</h2>
  <h2 ng-show="ideasSort=='deleted'">Ideas deleted</h2>
   <div ng-show="isLoggedIn()" class="well" ng-repeat="idea in ideas | orderBy: sortValue">
        <span class="glyphicon glyphicon-thumbs-up"
		style="color:green;cursor:pointer;font-size:18px; margin-left:15px;"
          ng-click="addVote(idea)"></span>
        {{idea.upvotes}}
	<span>
	<span class="glyphicon glyphicon-thumbs-down"
		style="color:red;cursor:pointer;font-size:18px; margin-left:15px;"
          ng-click="downVote(idea)"></span>
        {{idea.downvotes}}
	<span>
        <span style="font-size:20px; margin-left:10px;">
          <span >
            {{idea.title}}
          </span>
          
        </span>
	<span am-time-ago="idea.date"></span>
        <span ng-show="idea.author">posted by - {{idea.author}}</span>

  		<a  style="margin-left:10px;"href="#/ideas/{{idea._id}}"> Comments </a>
	</span>
	<br/>

			 <form class="form-inline" role="form" style="padding:10px;">
			    <div class="form-group">
			      <strong >Subjects associated:</strong>
			    </div>
			    <div class="form-group" style="padding:3px;"ng-repeat="subject in idea.subjects">
			      <span class="badge" >{{subject.title}}</strong>
			    </div>
 			 </form>

        <p>
            <strong>Description:</strong> {{idea.link}}
         </p>


	<div class="dropdown text-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Choose an action
    	<span class="caret"></span>
  	</button>
 

  	<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu">
	 <li ng-show="data.ideasSort.value == 'pending'">
			<a class="text-info" href="" ng-click="accept(idea)" style="font-weight:bold;color:green;">Accept idea</a>
        </li>
   	 <li ng-show="data.ideasSort.value == 'available'" >
		<a class="text-success" href="" ng-click="enroll(idea)" style="font-weight:bold;color:green;">Enroll here</a>
	</li>
	<li ng-show="data.ideasSort.value == 'pending'">
		<a class="text-warning" href="" ng-click="reject(idea)" style="font-weight:bold;color:orange;">Reject idea</a>
	</li>
	<li ng-show="data.ideasSort.value == 'available'" role="separator" class="divider"></li>
   	 <li ng-show="data.ideasSort.value == 'available'" >
		<a class="text-danger "href="#" ng-click="deleteIdea(idea)" style="font-weight:bold;color:red;">Delete idea</a>
	</li>
   	 <li role="separator" class="divider"></li>
   	 <li><a class="text-danger "href="#" ng-click="remove(idea)" style="font-weight:bold;color:red;">Destroy idea</a></li>
  	</ul>
	</div>
	
      </div>
	<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can propose a new idea.</h3>
</div>

<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

      <div ng-show="isLoggedIn()" class="panel panel-primary">
	<div class="panel-heading"><h3>Propose new idea</h3></div>

	<div class="panel-body" id="formi"
                
		style="margin-top:30px;">
		

		<div class="form-group">
		  <input type="text"
		    class="form-control"
		    placeholder="Title"
		    ng-model="title"></input>
		</div>
		<div class="form-group">
			<textarea form ="formi" class="form-control" ng-model="link"  cols="35" wrap="soft" placeholder="Description"></textarea>
		 
		</div>
		
              <div class="form-group">
	   	<div class="dropdown ">
	           <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Select subjects
			    <span class="caret"></span>
			  </button>
			 
			  <ul class="dropdown-menu ">
			    <li ng-repeat="subject in subjects"><a ng-click="addSubject(subject)"href="" >{{subject.title}}</a></li>
			  </ul>
	 	 </div>
		 
	       </div>
 		<ul class="list-group">
			<li class="list-group-item" ng-repeat="subject in subjectsSelected">
				<strong class="text-info" >{{subject.title}}</strong> <span  style="color:red;cursor:pointer" class="badge pull-right" ng-click="removeSubject(subject)">Remove</span>
				</li>
	          </ul>

		<button type="submit" class="btn btn-primary" ng-click="addIdea()">Post</button>
	</div>
		
      </div>

<div class="dropup">

