
<div ng-show="isLoggedIn()" class="page-header">
	
    <h3>
      Subjects
    </h3>
    
</div>


  <div ng-show="isLoggedIn()" ng-repeat="subject in subjects " class="well">
       
    
	   <strong>Subject: </strong> 
	    <span style="color:blue">
	      {{subject.title}} 
	    </span>

	    <p>
	       <strong>Description: </strong> {{subject.description}}
	    </p>

	<div class="dropdown text-right">
		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		   Actions
		    <span class="caret"></span>
		  </button>
		 
		  <ul class="dropdown-menu pull-right">
		    <li><a style="color:yellow;font-weight:bold;" href="" ng-click="edit(subject)" class="text-warning">Edit</a></li>
	            <li ><a style="color:red;font-weight:bold;" href="" ng-click="remove(subject)" >Delete</a></li>
		  </ul>
 	 </div>

  </div>
     



</br>
</br>


<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>

      <div ng-show="isLoggedIn()">
	<div style="margin-top:30px;">
		<h3 ng-hide="editing">Create a new subject</h3>
		<h2 ng-show="editing">Edit subject {{toEdit.title}}</h2>

		<div class="form-group">
		  <input type="text"
		    class="form-control"
		    placeholder="Title"
		    ng-model="title"></input>
		</div>
		<div class="form-group">
	          <textarea form ="formi" class="form-control" ng-model="description"  cols="35" wrap="soft" placeholder="Description"></textarea>
		 
		</div>
		<button ng-hide="editing" type="submit" class="btn btn-primary" ng-click="addSubject()" >Save</button>
		<button ng-show="editing" type="submit" class="btn btn-warning" ng-click="editSubject()" >Update</button>
		<button ng-show="editing" type="submit" class="btn btn-danger" ng-click="cancelEdit()" >Cancel</button>
	</div>
			
<a ng-show="isLoggedIn()"class="btn btn-primary" style="margin-top:30px;"href="#/home">Back to Main Page</a>
	
 
