
<div ng-show="isLoggedIn()" class="page-header">
	
    <h3>
      Users
    </h3>
    
</div>
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
 
  <div ng-show="isLoggedIn()" ng-repeat="user in users " class="well">
       
    
<span >
      Username:
    </span>
    <span style="color:blue">
      {{user.username}} 
    </span>

    <span style="padding:15px;">
      Current Role: 
    </span>
    <strong style="color:red">
      {{user.userRole.title}}
    </strong>

   <div class="dropdown text-right">
	  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Select a Role
	    <span class="caret"></span>
	  </button>
	 
	  <ul class="dropdown-menu pull-right">
	    <li ng-repeat="role in roles"><a href="" ng-click="changeRole(user,role)">{{role.name}}</a></li>
	  </ul>
  </div>
     
  </div>


</br>
</br>
	
<a ng-show="isLoggedIn()"class="btn btn-primary" style="margin-top:30px;"href="#/home">Back to Main Page</a>
	
 
