
<div class="page-header">
	
    <h3>
      Users
    </h3>
    
</div>

 
  <div ng-repeat="user in users ">
       
    <span style="color:blue">
      {{user.username}} 
    </span>
    <span style="font-size:20px; margin-left:10px;">
      {{user.userRole.title}}
    </span>
  </div>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>


</br>
</br>
	
<a class="btn btn-primary" style="margin-top:30px;"href="#/home">Back to Main Page</a>
	
 
